---
---

<!DOCTYPE html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel='stylesheet' type='text/css' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'> <!-- Icons linked from Ionicons.com -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'> <!-- Opens Sans referenced from Google fonts -->
</head>

<body>

  <header id='splash'>
    {% include header.html %}

    <div class='container'>
      <h3>Lucha Underground introduces U.S. audiences to the high-flying, explosive moves of lucha libre. An ancient combat tradition, watch as good and evil wage war in a gritty battleground called “The Temple.”</h3>
    </div>

  </header>

  <section id='recent-ep'>
    <div class='container'>
      <img id='recent-img' src='/images/episodes/e324.jpg' alt='Episode 24'>
      <div class='overlay'></div>
      <h2>Next Episode</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in pretium nisl. Mauris mollis ultrices elit. Sed dictum est non erat cursus ornare. Sed faucibus viverra quam id tristique. Phasellus in dapibus ante, non tempor augue. Nam leo dui, congue tempus tellus a, accumsan finibus urna. Morbi finibus arcu quis dolor dapibus tincidunt. </p>
    </div>
  </section>

    <section id='previous-ep'>
      <div class='container'>
        <div id='hr1' class='headerbar'>
          <h3>
            <span>
              Previously On
            </span>
          </h3>
        </div>
      </div>

      <a href='#' class='ep-unit'>
        <img src='/images/episodes/e323.jpg' alt='Episode 23'>
        <div class='overlay'></div>
        <div class='ep-details'>
          <h4>Family First</h4>
          <h5>Episode 3.23</h5>

        </div>
      </a>

      <a href='#' class='ep-unit'>
        <img src='/images/episodes/e322.jpg' alt='Episode 22'>
        <div class='overlay'></div>
        <div class='ep-details'>
          <h4>The Cup Begins</h4>
          <h5>Episode 3.22</h5>
        </div>
      </a>

      <a href='#' class='ep-unit'>
        <img src='/images/episodes/e321.jpg' alt='Episode 21'>
        <div class='overlay'></div>
        <div class='ep-details'>
          <h4>Sudden Death</h4>
          <h5>Episode 3.21</h5>
        </div>
      </a>

      <a href='#' class='ep-unit'>
        <img src='/images/episodes/e320.jpg' alt='Episode 20'>
        <div class='overlay'></div>
        <div class='ep-details'>
          <h4>All Night Long...Again</h4>
          <h5>Episode 3.20</h5>
        </div>
      </a>

    </section>

    <section id='netflix-ad'>
      <div class='redstripe'></div>
      <iframe src='https://www.youtube.com/embed/ZF8yfKBRfIc' allowfullscreen></iframe>
      <h3>Watch Season 1 and 2 of Lucha Underground on</h3>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 81.387'><path d='M256.09 76.212c4.178.405 8.354.84 12.52 1.29l9.198-22.712 8.743 24.807c4.486.562 8.97 1.152 13.44 1.768l-15.328-43.501L299.996 0H287.01l-.135.186-8.283 20.455L271.32.003h-12.822l13.237 37.565-15.644 38.644zM246.393 75.322V0h-12.817v74.265c4.275.33 8.552.684 12.817 1.056M150.113 71.11c3.46 0 6.916.026 10.366.054V43.492h15.397V31.708H160.48v-19.91h17.733V0h-30.6v71.12c.831 0 1.666-.013 2.5-.01M110.319 71.83c4.27-.152 8.544-.28 12.824-.384V11.8h11.98V.003H98.339V11.8h11.982v60.03h-.002zM12.295 79.772V34.897L27.471 77.96c4.667-.524 9.341-1.017 14.028-1.483V.001H29.201v46.483L12.825.001H0v81.384h.077c4.063-.562 8.14-1.096 12.218-1.613M85.98 11.797V.001H55.377V75.202a1100.584 1100.584 0 0 1 30.578-2.211V61.184c-5.916.344-11.82.74-17.71 1.181V43.497h15.397V31.706H68.245V11.797H85.98zM203.614 60.62V-.003h-12.873v71.876c10.24.376 20.44.9 30.606 1.56V61.619c-5.9-.381-11.81-.712-17.733-1'/></svg>
    </section>

  {% include footer.html %}

</body>
