<footer>
  <div id='social'>
    <h5>Visit Us:</h5>
    <ul>
      <li><a href='#' aria-label='Facebook'><i class='ion-social-facebook' aria-hidden='true'></i></a></li>
      <li><a href='#' aria-label='Twitter'><i class='ion-social-twitter' aria-hidden='true'></i></a></li>
      <li><a href='#' aria-label='Youtube'><i class='ion-social-youtube' aria-hidden='true'></i></a></li>
      <li><a href='#' aria-label='Instagram'><i class='ion-social-instagram' aria-hidden='true'></i></a></li>
      <li><a href='#' aria-label='Google Plus'><i class='ion-social-googleplus' aria-hidden='true'></i></a></li>
    </ul>
  </div>
  <h5 class='copy'>&copy; Lucha Underground LLC.</h5>
</footer>
<script src="/js/scripts.js"></script>
